.task-item {
  background: white;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  padding: 1rem;
  place-items: center;
  border-style: solid;
  margin-top: 1rem;
}

.task-header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  place-items: center;
  background: lightgrey;
  padding: 1rem;
}