<section class="search">
  <input type="text" placeholder="Filter the Taskboard" #filter>
  <button type="button" class="primary" (click)="updateFilter(filter.value)">Filter</button>
</section>
<div cdkDropListGroup class="board">
  <div class="task-status">
    <h2>TODO</h2>

    <div cdkDropList [cdkDropListData]="todo" class="task-list" (cdkDropListDropped)="drop($event)">
      <taskboard-task-item class="board-task-item" cdkDrag></taskboard-task-item>
      @for (item of todo; track item) {
      <taskboard-task-item [task]="item" class="board-task-item" cdkDrag></taskboard-task-item>
      }
    </div>
  </div>

  <div class="task-status">
    <h2>DOING</h2>

    <div cdkDropList [cdkDropListData]="doing" class="task-list" (cdkDropListDropped)="drop($event)">
      <taskboard-task-item class="board-task-item" cdkDrag></taskboard-task-item>
      @for (item of doing; track item) {
      <taskboard-task-item [task]="item" class="board-task-item" cdkDrag></taskboard-task-item>
      }
    </div>
  </div>

  <div class="task-status">
    <h2>DONE</h2>

    <div cdkDropList [cdkDropListData]="done" class="task-list" (cdkDropListDropped)="drop($event)">
      <taskboard-task-item class="board-task-item" cdkDrag></taskboard-task-item>
      @for (item of done; track item) {
      <taskboard-task-item [task]="item" class="board-task-item" cdkDrag></taskboard-task-item>
      }
    </div>
  </div>

</div>