<div cdkDropListGroup class="board">
  <div class="task-status">
    <h2>TODO</h2>

    <div cdkDropList [cdkDropListData]="todo" class="task-list" (cdkDropListDropped)="drop($event)">
      @for (item of todo; track item) {
      <div class="task-item" cdkDrag>{{item.title}}, {{ item.description }}, {{item.assignee?.name}}</div>
      }
    </div>
  </div>

  <div class="task-status">
    <h2>DOING</h2>

    <div cdkDropList [cdkDropListData]="doing" class="task-list" (cdkDropListDropped)="drop($event)">
      @for (item of doing; track item) {
      <div class="task-item" cdkDrag>{{item.title}}, {{ item.description }}, {{item.assignee?.name}}</div>
      }
    </div>
  </div>

  <div class="task-status">
    <h2>DONE</h2>

    <div cdkDropList [cdkDropListData]="done" class="task-list" (cdkDropListDropped)="drop($event)">
      @for (item of done; track item) {
      <div class="task-item" cdkDrag>{{item.title}}, {{ item.description }}, {{item.assignee?.name}}</div>
      }
    </div>
  </div>

</div>