.board {
  display: grid;
  grid-template-columns: repeat(3, 30svw);
  gap: 3rem;
  padding: 1rem;
}

.task-status {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.task-list {
  border-style: solid;
  width: 100%;
  height: 70svh;
  overflow-y: scroll;
  padding: 1rem;
}

.board-task-item {
  height: 3rem;
  place-content: center;
}